@charset "UTF-8";
/*header------------>*/
/*head_top*/
#header .head_top {
  background: #fafafa;
  height: 36px;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  line-height: 36px;
  font-size: 12px;
}
#header .head_top .loginStatus {
  position: relative;
}
#header .head_top .loginStatus span {
  color: #8c8c8c;
  margin-right: 30px;
}
#header .head_top .loginStatus a {
  color: #8c8c8c;
}
#header .head_top .loginStatus a:hover {
  color: #94193f;
  text-decoration: underline;
}
#header .head_top .loginStatus .logout {
  display: none;
}
#header .head_top .loginStatus p {
  position: absolute;
  top: 33px;
  left: 173px;
  padding-left: 15px;
  padding-right: 8px;
  height: 34px;
  line-height: 36px;
  color: #fff;
  width: 191px;
  background: url(../img/add_r_tips.png) no-repeat 0 0;
}
#header .head_top .loginStatus p i {
  position: absolute;
  top: 16px;
  left: 199px;
  width: 8px;
  height: 8px;
  display: block;
  cursor: pointer;
  background: url(../img/add_r_tips.png) no-repeat -201px -41px;
}
#header .head_top .top_r > li {
  float: left;
}
#header .head_top .top_r > li a {
  display: block;
  height: 36px;
  line-height: 36px;
  color: #8c8c8c;
  padding-left: 11px;
  font-size: 12px;
}
#header .head_top .top_r > li a span {
  padding-left: 2px;
  padding-right: 11px;
  vertical-align: middle;
  border-right: 1px solid #dfdfdf;
}
#header .head_top .top_r > li a:hover {
  color: #94193f;
  text-decoration: underline;
}
#header .head_top .top_r > li:nth-of-type(4) a i {
  display: inline-block;
  width: 14px;
  vertical-align: middle;
  height: 13px;
  background: url(../img/icon_list.png) no-repeat 0 -38px;
}
#header .head_top .top_r > li:last-child a span {
  border-right: none;
}
#header .head_top .top_r .downApp {
  position: relative;
}
#header .head_top .top_r .downApp div {
  position: absolute;
  top: 45px;
  left: -12px;
  display: none;
  z-index: 4;
}
#header .head_top .top_r .downApp div img {
  display: block;
  border: 1px solid #f6f6f6;
  box-shadow: 0 0 1px #f6f6f6;
}
#header .head_top .top_r .downApp div::before,
#header .head_top .top_r .downApp div::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -8px;
  border-width: 0 8px 8px;
  border-color: transparent transparent #f6f6f6;
  border-style: solid;
}
#header .head_top .top_r .downApp div::after {
  top: -6px;
  border-color: transparent transparent #fff;
}
#header .head_top .top_r .service {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  position: relative;
}
#header .head_top .top_r .service i {
  display: inline-block;
  width: 7px;
  height: 4px;
  margin-left: 2px;
  vertical-align: middle;
  background: url(../img/icon_list.png) no-repeat -192px -768px;
}
#header .head_top .top_r .service .ser_content {
  width: 100%;
  position: absolute;
  left: -1px;
  display: none;
  background: #fff;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  z-index: 4;
}
#header .head_top .top_r .service .ser_content a {
  padding-left: 13px;
  height: 25px;
  line-height: 25px;
}
#header .head_top .top_r .ser_active {
  background: #fff;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
}
#header .head_mid {
  padding-top: 30px;
  padding-bottom: 15px;
  font-size: 12px;
}
#header .head_mid h1 a {
  text-indent: -9999em;
  display: inline-block;
  width: 58px;
  height: 55px;
  background: url("../img/logo.jpg") no-repeat;
  vertical-align: middle;
  background-size: 58px 55px;
}
#header .head_mid h1 img {
  display: inline-block;
  width: 440px;
  height: 29px;
  font-size: 0;
}
#header .head_mid .search {
  margin-left: 10px;
  padding-top: 5px;
  position: relative;
}
#header .head_mid .search a:hover {
  text-decoration: underline;
}
#header .head_mid .search .sea_input {
  width: 305px;
  height: 35px;
  border: 3px solid #94193f;
  border-right: none;
  text-indent: 8px;
  color: #757575;
}
#header .head_mid .search .sea_btn {
  width: 53px;
  height: 41px;
  background: #94193f;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
#header .head_mid .search input {
  outline: none;
}
#header .head_mid .search p {
  height: 34px;
  line-height: 34px;
  font-size: 0;
}
#header .head_mid .search p a {
  color: #8c8c8c;
  margin-right: 5px;
  font-size: 12px;
}
#header .head_mid .search .search_list {
  position: absolute;
  top: 43px;
  left: 3px;
  width: 413px;
  border: 1px solid #eaeaea;
  background: #fff;
  display: none;
  z-index: 3;
}
#header .head_mid .search .search_list li {
  padding-left: 10px;
  padding-right: 15px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}
#header .head_mid .search .search_list li .sea_text {
  color: #1e1e1e;
  font-weight: bold;
}
#header .head_mid .search .search_list li .sea_nums {
  color: #a1a1a1;
}
#header .head_mid .search .search_list .sea_hover {
  background: #94193f;
}
#header .head_mid .search .search_list .sea_hover span {
  color: #fff;
}
#header .head_mid .head_cart {
  height: 40px;
  width: 110px;
  line-height: 40px;
  background: #f9f9f9;
  font-size: 12px;
  margin-top: 5px;
  position: relative;
  border: 1px solid #d8d8d8;
}
#header .head_mid .head_cart a {
  margin-left: 6px;
  color: #666666;
}
#header .head_mid .head_cart a .gou_icon {
  display: inline-block;
  width: 16px;
  height: 13px;
  margin-right: 4px;
  margin-bottom: -1px;
  background: url("../img/icon_list.png") no-repeat -185px -736px;
}
#header .head_mid .head_cart a .gou_jian {
  display: inline-block;
  width: 6px;
  height: 9px;
  background: url("../img/icon_list.png") no-repeat -269px -737px;
}
#header .head_mid .head_cart a .gou_nums {
  position: absolute;
  top: -5px;
  right: 20px;
  display: block;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  font-size: 12px;
  color: #fff;
  background: #94193f;
  border-radius: 50%;
}
#header .head_mid .head_cart .cart_list {
  position: absolute;
  width: 308px;
  top: 40px;
  right: 0px;
  z-index: 2;
  background: #fff;
  display: none;
  box-shadow: 0 0 6px #999;
}
#header .head_mid .head_cart .cart_list .cartTip {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
#header .head_mid .head_cart .cart_list .white {
  background: #fff;
  width: 110px;
  height: 10px;
  position: absolute;
  right: 0;
  top: -8px;
}
#header .head_mid .head_cart .cart_list .cartContent {
  padding-bottom: 52px;
  display: none;
}
#header .head_mid .head_cart .cart_list .cartContent h4 {
  font-size: 12px;
  font-weight: bold;
  color: #666697;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
#header .head_mid .head_cart .cart_list .cartContent .list {
  padding: 0 10px;
}
#header .head_mid .head_cart .cart_list .cartContent .list li {
  height: 56px;
  padding-top: 5px;
  line-height: 14px;
  position: relative;
  border-bottom: 1px dashed #cccccc;
}
#header .head_mid .head_cart .cart_list .cartContent .list li img {
  width: 49px;
  height: 49px;
  border: 1px solid #e7e7e7;
}
#header .head_mid .head_cart .cart_list .cartContent .list li .goodName {
  width: 127px;
  height: 42px;
  overflow: hidden;
}
#header .head_mid .head_cart .cart_list .cartContent .list li .del {
  position: absolute;
  right: 0;
  top: 28px;
}
#header .head_mid .head_cart .cart_list .cartContent .list li a:hover {
  text-decoration: underline;
}
#header .head_mid .head_cart .cart_list .cartContent .cart_total {
  position: absolute;
  height: 52px;
  width: 288px;
  padding: 0 10px;
  bottom: 0;
  left: 0;
  background: #fcfcfc;
}
#header .head_mid .head_cart .cart_list .cartContent .cart_total p {
  height: 52px;
  line-height: 52px;
}
#header .head_mid .head_cart .cart_list .cartContent .cart_total .toCart {
  width: 104px;
  height: 32px;
  font-size: 12px;
  color: #fff;
  background: #94193f;
  margin-top: 10px;
  margin-right: 10px;
}
#header .head_mid .head_cart_hover {
  background: #fff;
  box-shadow: 0 0 2px #999;
}

/*nav--------------->*/
#nav {
  border-bottom: 2px solid #94193f;
}
#nav .nav_l {
  position: relative;
  z-index: 5;
}
#nav .nav_l h3 a {
  display: block;
  width: 161px;
  height: 40px;
  padding-left: 54px;
  line-height: 40px;
  background: #94193f;
  color: #fff;
  position: relative;
  font-size: 16px;
}
#nav .nav_l h3 a i {
  position: absolute;
  display: block;
  width: 15px;
  height: 8px;
  top: 19px;
  right: 17px;
  background: url(../img/icon_list.png) no-repeat -36px -128px;
}
#nav .nav_l .classfiy {
  border-top: 2px solid #94193f;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 375px;
  padding-top: 5px;
  background: url("../img/index_type_bg.png");
}
#nav .nav_l .classfiy li {
  height: 35px;
  padding-left: 55px;
  margin-top: 15px;
  font-size: 12px;
  line-height: 35px;
}
#nav .nav_l .classfiy li > a {
  color: #333333;
}
#nav .nav_l .classfiy li > a i {
  display: inline-block;
  width: 18px;
  height: 16px;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 2px;
  background: url("../img/type_icon.png") no-repeat 0 -421px;
}
#nav .nav_l .classfiy li > a .typeof2 {
  background-position: 0 -166px;
  margin-bottom: 4px;
}
#nav .nav_l .classfiy li > a .typeof3 {
  background-position: 0 -129px;
}
#nav .nav_l .classfiy li > a .typeof4 {
  background-position: 0 -212px;
}
#nav .nav_l .classfiy li > a .typeof5 {
  background-position: 0 -253px;
}
#nav .nav_l .classfiy li > a .typeof6 {
  margin-bottom: -2px;
  background-position: 0 -338px;
}
#nav .nav_l .classfiy li .cs_item {
  position: absolute;
  top: 0;
  left: 215px;
  width: 360px;
  height: 360px;
  background: #fff;
  padding: 20px 15px 0;
  display: none;
}
#nav .nav_l .classfiy li .cs_item .item_con {
  overflow: hidden;
  width: 372px;
  height: 100%;
}
#nav .nav_l .classfiy li .cs_item .item_con a {
  padding-left: 8px;
  width: 72px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  background: #9b9093;
  color: #fff;
  margin-right: 10px;
}
#nav .nav_l .classfiy li .cs_item .item_con a span {
  width: 20px;
  height: 24px;
  float: right;
  text-align: center;
  background: #837679;
}
#nav .nav_l .classfiy li .cs_item .item_con .item_hover {
  background: #c4193f;
}
#nav .nav_l .classfiy li .cs_item .item_con .item_hover span {
  background: #c4193f;
}
#nav .nav_l .classfiy .li_hover {
  background: #fff;
}
#nav .nav_l .classfiy .li_hover > a {
  color: #d7427a;
}
#nav .nav_l .classfiy .li_hover > a i {
  background-position-x: -80px;
}
#nav .nav_l .classfiy .li_hover .cs_item {
  display: block;
}

/*sidebar-------------->*/
#sidebar {
  width: 40px;
  height: 100%;
  min-height: 600px;
  position: fixed;
  top: 0;
  right: 0;
  background: #444851;
  z-index: 50;
}
#sidebar .cart_bg {
  background: #94193f;
}
#sidebar .sidebar {
  position: relative;
  height: 100%;
}
#sidebar .sidebar .side_top {
  position: absolute;
  height: 314px;
  width: 40px;
  top: 50%;
  margin-top: -242px;
}
#sidebar .sidebar .side_top .com {
  cursor: pointer;
  font-size: 12px;
  padding: 5px 0;
}
#sidebar .sidebar .side_top .com > i {
  margin-bottom: 10px;
  display: block;
  height: 21px;
  width: 14px;
  margin-left: 14px;
}
#sidebar .sidebar .side_top .com > a {
  display: block;
  color: #fff;
  text-align: center;
}
#sidebar .sidebar .side_top .user {
  position: relative;
}
#sidebar .sidebar .side_top .user > i {
  background: url("../img/icon_list.png") no-repeat -202px -413px;
}
#sidebar .sidebar .side_top .user .side_login {
  position: absolute;
  right: 40px;
  top: -20px;
  width: 289px;
  display: none;
  background: #fff;
  border: 1px solid #f0f0f0;
  border-right: none;
}
#sidebar .sidebar .side_top .user .side_login > i {
  position: absolute;
  right: 5px;
  top: 5px;
  display: block;
  height: 12px;
  width: 12px;
  background: url(../img/icon_list.png) no-repeat 0 -686px;
}
#sidebar .sidebar .side_top .user .side_login .unlogin h4 {
  margin-left: 20px;
  height: 42px;
  line-height: 42px;
  color: #c41f3a;
  font-weight: bold;
}
#sidebar .sidebar .side_top .user .side_login .unlogin .input {
  height: 74px;
  margin-left: 20px;
}
#sidebar .sidebar .side_top .user .side_login .unlogin .input input {
  display: block;
  text-indent: 5px;
  border: 1px solid #c8c8c8;
  height: 38px;
  width: 242px;
  font-size: 12px;
}
#sidebar .sidebar .side_top .user .side_login .unlogin .input p {
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  color: #8c8c8c;
  visibility: hidden;
  margin-bottom: 10px;
}
#sidebar .sidebar .side_top .user .side_login .unlogin .input p i {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 2px;
  background: url(../img/login_icon_list.png) no-repeat 0 0;
}
#sidebar .sidebar .side_top .user .side_login .unlogin .checkCode input {
  display: inline-block;
  width: 117px;
}
#sidebar .sidebar .side_top .user .side_login .unlogin .checkCode .code {
  display: inline-block;
  width: 70px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #000;
  vertical-align: middle;
  background: skyblue;
  letter-spacing: 4px;
  margin: 0 5px;
  font-size: 16px;
}
#sidebar .sidebar .side_top .user .side_login .unlogin .checkCode .change {
  font-size: 12px;
  color: #c41f3a;
}
#sidebar .sidebar .side_top .user .side_login .unlogin .sendMess {
  font-size: 12px;
  margin-left: 20px;
}
#sidebar .sidebar .side_top .user .side_login .unlogin .sendMess .btn {
  display: block;
  width: 246px;
  height: 40px;
  background: #94193f;
  color: #fff;
}
#sidebar .sidebar .side_top .user .side_login .unlogin .sendMess p {
  line-height: 28px;
  height: 28px;
}
#sidebar .sidebar .side_top .user .side_login .unlogin .sendMess p .fl {
  color: #767676;
}
#sidebar .sidebar .side_top .user .side_login .unlogin .sendMess p .fr {
  color: #94193f;
  margin-right: 25px;
}
#sidebar .sidebar .side_top .user .side_login .islogin {
  display: none;
}
#sidebar .sidebar .side_top .user .side_login .islogin .userTitle {
  height: 104px;
  padding-top: 60px;
  position: relative;
  text-align: center;
}
#sidebar .sidebar .side_top .user .side_login .islogin .userTitle img {
  display: block;
}
#sidebar .sidebar .side_top .user .side_login .islogin .userTitle .userLogo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 auto;
}
#sidebar .sidebar .side_top .user .side_login .islogin .userTitle .wangguan {
  position: absolute;
  top: 38px;
  left: 103px;
  width: 48px;
}
#sidebar .sidebar .side_top .user .side_login .islogin .userTitle a {
  font-size: 12px;
  color: #999999;
  line-height: 32px;
}
#sidebar .sidebar .side_top .user .side_login .islogin .userFunc {
  border-top: 1px solid #dce1e6;
  height: 82px;
  padding-bottom: 10px;
  background: #fbfcfd;
}
#sidebar .sidebar .side_top .user .side_login .islogin .userFunc > div {
  width: 144px;
  height: 50px;
  text-align: center;
  margin-top: 16px;
  cursor: pointer;
  padding-top: 10px;
}
#sidebar .sidebar .side_top .user .side_login .islogin .userFunc > div i {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  margin-bottom: 10px;
  background: url("../img/icon_list1.png") no-repeat 1px 0;
}
#sidebar .sidebar .side_top .user .side_login .islogin .userFunc > div a {
  color: #999999;
}
#sidebar .sidebar .side_top .user .side_login .islogin .userFunc .funcL {
  border-right: 1px solid #ebeef1;
}
#sidebar .sidebar .side_top .user .side_login .islogin .userFunc .funcL i {
  width: 20px;
  height: 22px;
}
#sidebar .sidebar .side_top .user .side_login .islogin .userFunc .funcR i {
  background-position: -1px -65px;
}
#sidebar .sidebar .side_top .user .side_login .islogin .userFunc .func_hover i {
  background-position-x: -54px;
}
#sidebar .sidebar .side_top .user .side_login .islogin .userFunc .func_hover a {
  color: #94193f;
}
#sidebar .sidebar .side_top .user .side_login::after {
  content: "";
  border-color: transparent transparent transparent #fff;
  border-width: 10px 0 10px 10px;
  border-style: solid;
  position: absolute;
  top: 36px;
  right: -6px;
}
#sidebar .sidebar .side_top .line .line1 {
  margin-top: 18px;
  height: 1px;
  background: #2d2e32;
}
#sidebar .sidebar .side_top .line .line2 {
  height: 1px;
  background: #575a62;
  margin-bottom: 15px;
}
#sidebar .sidebar .side_top .side_cart {
  cursor: pointer;
  padding: 5px 0;
}
#sidebar .sidebar .side_top .side_cart i {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  background: url("../img/icon_list.png") no-repeat -85px 0;
}
#sidebar .sidebar .side_top .side_cart a {
  display: block;
  width: 12px;
  margin: 0 auto;
  font-size: 12px;
  color: #fff;
  margin-bottom: 10px;
}
#sidebar .sidebar .side_top .side_cart span {
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  line-height: 22px;
  text-align: center;
  background: #94193f;
  margin-left: 10px;
}
#sidebar .sidebar .side_top .collect i {
  width: 21px;
  height: 21px;
  margin-left: 10px;
  background: url("../img/icon_list.png") no-repeat -83px -188px;
}
#sidebar .sidebar .side_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 185px;
  width: 40px;
}
#sidebar .sidebar .side_bottom .QR {
  position: relative;
  cursor: pointer;
  padding: 9px 12px;
  margin-bottom: 18px;
}
#sidebar .sidebar .side_bottom .QR i {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../img/icon_list.png") no-repeat -171px -2px;
}
#sidebar .sidebar .side_bottom .QR .QRimg {
  display: none;
  position: absolute;
  right: 38px;
  top: -200px;
}
#sidebar .sidebar .side_bottom .QR .QRimg::after {
  content: "";
  border-width: 10px 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent transparent #fc4a3b;
  position: absolute;
  bottom: 43px;
  right: -6px;
}
#sidebar .sidebar .side_bottom .side_service {
  cursor: pointer;
  padding: 6px 10px;
  margin-bottom: 20px;
  position: relative;
}
#sidebar .sidebar .side_bottom .side_service i {
  display: inline-block;
  width: 20px;
  height: 24px;
  background: url("../img/icon_list.png") no-repeat -171px -59px;
}
#sidebar .sidebar .side_bottom .side_service .ser_content {
  display: none;
  position: absolute;
  bottom: 0;
  right: 40px;
  width: 240px;
  border: 1px solid #f2f2f2;
  padding-bottom: 15px;
  text-align: center;
  font-size: 12px;
  background: #fff;
}
#sidebar .sidebar .side_bottom .side_service .ser_content h4 {
  height: 32px;
  line-height: 32px;
  color: #444851;
}
#sidebar .sidebar .side_bottom .side_service .ser_content .ser_a {
  padding: 5px 0;
  background: #fbfcfd;
  font-size: 0;
}
#sidebar .sidebar .side_bottom .side_service .ser_content .ser_a a {
  color: #444851;
  font-size: 12px;
  display: inline-block;
  width: 50%;
  line-height: 26px;
}
#sidebar .sidebar .side_bottom .side_service .ser_content .ser_a a:hover {
  text-decoration: underline;
}
#sidebar .sidebar .side_bottom .side_service .ser_content::after {
  content: "";
  border-width: 10px 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  bottom: 10px;
  right: -7px;
}
#sidebar .sidebar .side_bottom .toTop {
  cursor: pointer;
  padding: 10px 0;
  font-size: 12px;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
#sidebar .sidebar .side_bottom .toTop i {
  width: 15px;
  height: 19px;
  display: block;
  margin: 0px auto;
  margin-bottom: 10px;
  background: url("../img/icon_list.png") no-repeat -85px -253px;
}
#sidebar .sidebar .side_bottom .toTop a {
  color: #fff;
  display: block;
  text-align: center;
}

/*banner--------------->*/
#banner {
  width: 100%;
  height: 380px;
  overflow: hidden;
  position: relative;
}
#banner .banner_img {
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 380px;
}
#banner .banner_img li {
  z-index: 0;
  position: absolute;
}
#banner .banner_img li img {
  border: 0;
}
#banner .banner_page {
  position: absolute;
  text-align: center;
  height: 50px;
  width: 100%;
  bottom: 6px;
  left: 0;
  z-index: 4;
}
#banner .banner_page .pages {
  position: absolute;
  left: 50%;
  bottom: 10px;
  padding: 0 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
#banner .banner_page span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  margin: 0 2px;
  cursor: pointer;
}
#banner .banner_page .active {
  background: #cc2256;
}

main {
  background: #fbfbfb;
  padding-top: 40px;
  /*新品推荐*/
  /*精选活动*/
}
main .ad {
  background: #fff;
}
main .ad .ad_part {
  margin: 0 auto;
  width: 945px;
  border-bottom: 1px solid #cfcfcf;
  padding-left: 10px;
}
main .ad .ad_part li {
  position: relative;
  float: left;
  padding-right: 46px;
  margin-right: 46px;
  height: 55px;
  line-height: 55px;
  background: url("../img/border.png") no-repeat right center;
}
main .ad .ad_part li a {
  display: block;
  width: 112px;
  text-align: center;
  font-size: 18px;
  color: #000;
}
main .ad .ad_part li > i {
  position: absolute;
  height: 3px;
  width: 112px;
  bottom: -2px;
  left: 0px;
  background: #000;
  display: none;
}
main .ad .ad_part .program a {
  display: inline-block;
  width: 100px;
  height: 28px;
  color: #fff;
  line-height: 28px;
  background: #eb2d58;
  border-bottom: none;
  vertical-align: middle;
  border-radius: 10px;
}
main .ad .ad_part .program a i {
  display: inline-block;
  height: 18px;
  width: 15px;
  margin-bottom: -2px;
  background: url("../img/icon_list.png") no-repeat -184px -492px;
}
main .ad .ad_content {
  padding: 16px 0 0 4px;
  position: relative;
}
main .ad .ad_content > a {
  position: absolute;
  top: 50%;
  margin-top: -35px;
  display: none;
  width: 30px;
  height: 70px;
  color: #fff;
  background: #575757;
  line-height: 70px;
  text-align: center;
  font-size: 28px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
main .ad .ad_content .prev {
  left: 0;
}
main .ad .ad_content .next {
  right: 0;
}
main .ad .ad_content .ad_list {
  margin: 0 auto;
  width: 930px;
  overflow: hidden;
  height: 304px;
  position: relative;
}
main .ad .ad_content .ad_list .list {
  position: absolute;
}
main .ad .ad_content .ad_list .list li {
  float: left;
  width: 180px;
  border: 3px solid #fff;
  font-size: 12px;
  padding-bottom: 12px;
  cursor: pointer;
  position: relative;
}
main .ad .ad_content .ad_list .list li > a {
  width: 180px;
  display: block;
  height: 180px;
  overflow: hidden;
}
main .ad .ad_content .ad_list .list li > a img {
  width: 100%;
  transition: all 0.6s linear;
  -webkit-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  -ms-transition: all 0.6s linear;
}
main .ad .ad_content .ad_list .list li p {
  margin: 0 auto;
  width: 164px;
}
main .ad .ad_content .ad_list .list li .tip {
  line-height: 32px;
  color: #787878;
}
main .ad .ad_content .ad_list .list li .goodName {
  margin-bottom: 20px;
}
main .ad .ad_content .ad_list .list li .goodName a {
  font-size: 12px;
  color: #000;
  display: block;
  height: 32px;
  overflow: hidden;
}
main .ad .ad_content .ad_list .list li .goodPrice {
  color: #c4193f;
}
main .ad .ad_content .ad_list .list li .goodPrice span {
  font-size: 16px;
  font-weight: bold;
}
main .ad .ad_content .ad_list .list li .goodPrice del {
  color: #969696;
}
main .ad .ad_content .ad_list .list li > span {
  position: absolute;
  width: 60px;
  height: 26px;
  line-height: 26px;
  left: 0;
  top: 0;
  color: #fff;
  text-align: center;
  border-radius: 0 5px 5px 0;
}
main .ad .ad_content .ad_list .list li .wait {
  background: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
main .ad .ad_content .ad_list .list li .wait i {
  vertical-align: middle;
  margin-bottom: 3px;
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url("../img/icon_list.png") no-repeat -173px -310px;
}
main .ad .ad_content .ad_list .list li .now {
  display: none;
  background: #C31F3A;
}
main .ad .ad_content .ad_list .list .good_hover {
  border-color: #c4193f;
}
main .ad .ad_content .ad_list .list .good_hover p {
  text-decoration: underline;
}
main .ad .ad_content .ad_list .list .good_hover .goodPrice {
  text-decoration: none;
}
main .ad .ad_content .ad_list .list li:hover img {
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
main .port_head {
  margin-top: 40px;
  border-bottom: 1px solid #C4193F;
}
main .port_head .port_title {
  font-size: 26px;
  color: #333333;
  float: left;
  height: 46px;
  line-height: 46px;
}
main .port_head .port_page {
  float: right;
  font-size: 0;
  padding-top: 8px;
}
main .port_head .port_page > a {
  display: inline-block;
  height: 35px;
  padding: 0 14px;
  border: 3px solid transparent;
  border-bottom: none;
  font-size: 12px;
  line-height: 35px;
  color: #434343;
  position: relative;
}
main .port_head .port_page > a i {
  display: none;
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -1px;
  height: 1px;
  background: #fff;
}
main .port_head .port_page .page_hover {
  border-color: #C4193F;
  background: #fff;
  color: #C4193F;
}
main .port_head .port_page .page_hover i {
  display: block;
}
main .limit_buy {
  margin-bottom: 32px;
}
main .limit_buy .limit_content {
  overflow: hidden;
  font-size: 12px;
  height: 344px;
  position: relative;
}
main .limit_buy .limit_content > a {
  position: absolute;
  top: 50%;
  margin-top: -35px;
  display: none;
  width: 30px;
  height: 70px;
  color: #fff;
  background: #575757;
  line-height: 70px;
  text-align: center;
  font-size: 28px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
main .limit_buy .limit_content .prev {
  left: 0;
}
main .limit_buy .limit_content .next {
  right: 0;
}
main .limit_buy .limit_content .limit_list {
  position: absolute;
  left: 0;
}
main .limit_buy .limit_content .limit_list > li {
  float: left;
  margin-right: 10px;
  width: 192px;
  background: #fff;
  margin-top: 20px;
}
main .limit_buy .limit_content .limit_list > li .limit_img {
  position: relative;
}
main .limit_buy .limit_content .limit_list > li .limit_img > img {
  display: block;
  width: 192px;
  height: 192px;
}
main .limit_buy .limit_content .limit_list > li .limit_img p {
  position: absolute;
  width: 110px;
  height: 110px;
  text-align: center;
  line-height: 110px;
  background: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
  left: 50%;
  top: 50%;
  margin-top: -55px;
  margin-left: -55px;
  color: #fff;
  border-radius: 50%;
  font-size: 20px;
}
main .limit_buy .limit_content .limit_list > li .limit_img p span {
  padding: 10px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
main .limit_buy .limit_content .limit_list > li .limit_time {
  height: 26px;
  line-height: 26px;
  background: #FEF6EB;
  color: #E31539;
  text-align: center;
}
main .limit_buy .limit_content .limit_list > li .limit_time i {
  margin-bottom: 2px;
  vertical-align: middle;
  display: inline-block;
  width: 13px;
  height: 15px;
  background: url("../img/icon_list.png") no-repeat -167px -271px;
}
main .limit_buy .limit_content .limit_list > li .limit_name {
  padding: 8px 12px;
}
main .limit_buy .limit_content .limit_list > li .limit_name p {
  line-height: 18px;
}
main .limit_buy .limit_content .limit_list > li .limit_name .limit_title {
  color: #999999;
}
main .limit_buy .limit_content .limit_list > li .limit_name .name {
  height: 36px;
  overflow: hidden;
}
main .limit_buy .limit_content .limit_list > li .limit_price {
  font-size: 0;
}
main .limit_buy .limit_content .limit_list > li .limit_price p {
  text-align: center;
  display: inline-block;
  width: 109px;
  border: 1px solid #C4193F;
  border-right: none;
  height: 33px;
  line-height: 33px;
  color: #C8193F;
  vertical-align: middle;
  font-size: 12px;
}
main .limit_buy .limit_content .limit_list > li .limit_price p span {
  font-size: 16px;
}
main .limit_buy .limit_content .limit_list > li .limit_price p del {
  color: #969696;
}
main .limit_buy .limit_content .limit_list > li .limit_price input {
  width: 82px;
  height: 35px;
  background: #C4193F;
  font-size: 16px;
  color: #fff;
}
main .list_style li {
  background: #fff;
  width: 180px;
  margin-right: 16px;
  border: 3px solid #fff;
  margin-top: 20px;
}
main .list_style li .good_img img {
  display: block;
  width: 180px;
  height: 180px;
}
main .list_style li .good_name {
  padding: 8px 12px;
  font-size: 12px;
}
main .list_style li .good_name p {
  line-height: 18px;
}
main .list_style li .good_name .good_title {
  color: #999999;
}
main .list_style li .good_name .name {
  height: 36px;
  overflow: hidden;
}
main .list_style li .good_price {
  padding-left: 12px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  color: #C4193F;
}
main .list_style li .good_price span {
  font-size: 16px;
}
main .list_style li .good_price del {
  margin-left: 10px;
  color: #969696;
}
main .list_style .list_hover {
  border-color: #C4193F !important;
}
main .list_style .list_hover .good_name {
  text-decoration: underline;
}
main .new_rec {
  margin-bottom: 40px;
}
main .new_rec .new_head {
  border-bottom: 1px solid #CFCFCF;
}
main .new_rec .new_head .new_title {
  font-size: 26px;
  height: 46px;
  line-height: 46px;
  color: #333333;
  position: relative;
}
main .new_rec .new_head .new_title i {
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -2px;
  background: #000;
  left: 0;
}
main .new_rec .new_head .change {
  font-size: 14px;
  display: block;
  height: 28px;
  line-height: 28px;
  color: #999999;
  margin-top: 12px;
}
main .new_rec .new_head .change i {
  display: inline-block;
  width: 19px;
  height: 19px;
  vertical-align: middle;
  margin-left: 20px;
  background: url("../img/icon_list.png") no-repeat -42px -2px;
}
main .new_rec .new_content {
  padding: 0 3px;
  overflow: hidden;
}
main .new_rec .new_content .new_list {
  width: 1010px;
}
main .new_rec .new_content .new_list li {
  float: left;
}
main .new_rec .new_content .new_list li .new_img {
  height: 180px;
}
main .new_rec .new_content .new_list li .new_img img {
  display: block;
  width: 100%;
}
main .activity {
  overflow: hidden;
}
main .activity .act_head {
  border-bottom: 1px solid #CFCFCF;
}
main .activity .act_head h2 {
  font-size: 28px;
  color: #333333;
  line-height: 48px;
  height: 48px;
  width: 112px;
  position: relative;
}
main .activity .act_head h2 i {
  position: absolute;
  height: 3px;
  background: #000;
  width: 100%;
  bottom: -2px;
  left: 0;
}
main .activity .act_list {
  width: 1012px;
}
main .activity .act_list li {
  float: left;
  margin-right: 16px;
  margin-top: 20px;
}
main .activity .act_list li img {
  width: 490px;
  height: 196px;
  display: block;
}
main .block .block_content {
  position: relative;
  padding: 0 3px;
  width: 1000px;
  overflow: hidden;
}
main .block .block_content .big_img {
  position: absolute;
  top: 20px;
  left: 3px;
}
main .block .block_content .big_img img {
  display: block;
  height: 270;
  width: 584px;
}
main .block .block_content .block_good {
  width: 1010px;
}
main .block .block_content .block_good li {
  float: left;
}
main .block .block_content .block_good li:first-child {
  margin-left: 600px;
}
main .block .block_brand {
  border: 1px solid #EAEAEA;
  height: 112px;
  line-height: 112px;
  text-align: center;
  font-size: 0;
  background: #fff;
  margin-top: 20px;
}
main .block .block_brand span {
  font-size: 16px;
  color: #000;
  vertical-align: middle;
}
main .block .block_brand a {
  display: inline-block;
  height: 80px;
  padding: 0 11px 0 10px;
  vertical-align: middle;
  line-height: 0;
  background: url("../img/border2.png") no-repeat right center;
}
main .block .block_brand a img {
  width: 80px;
  height: 80px;
}
main .block .block_brand a:last-child {
  background: none;
}

/*顶部搜索栏 左边侧边栏*/
.rolling .search_top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0px;
  line-height: 52px;
  overflow: hidden;
  background: #972046;
}
.rolling .search_top .img {
  display: inline-block;
  vertical-align: middle;
}
.rolling .search_top .img img {
  width: 42px;
  height: 40px;
  font-size: 0;
  margin-bottom: 4px;
}
.rolling .search_top .top_content {
  margin-left: 78px;
  display: inline-block;
  vertical-align: middle;
}
.rolling .search_top .top_content .sea_con {
  height: 30px;
  width: 656px;
  text-indent: 6px;
  font-size: 12px;
  color: #757575;
}
.rolling .search_top .top_content .btn {
  height: 30px;
  width: 90px;
  background: #C41F3A;
  color: #fff;
  font-size: 16px;
}
.rolling .left_top {
  display: none;
  position: fixed;
  left: 38px;
  top: 100px;
  padding: 0 8px;
  background: #fff;
  border: 1px solid #E7E6E6;
  border-radius: 5px;
}
.rolling .left_top li {
  width: 76px;
  height: 42px;
  line-height: 42px;
  border-bottom: 1px solid #E5E5E5;
}
.rolling .left_top li a {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  width: 100%;
  color: #434343;
  text-align: center;
  border-radius: 4px;
}
.rolling .left_top li a i {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 15px;
  margin-right: 4px;
  background: url("../img/type_icon.png") no-repeat 0 0;
}
.rolling .left_top li .left_active {
  background: #C4193F;
  color: #fff;
}
.rolling .left_top li .left_active i {
  background-position-x: -43px;
}
.rolling .left_top .new i {
  background-position: 0 -43px;
}
.rolling .left_top .act i {
  background-position: 0 -450px;
}
.rolling .left_top .Bea i {
  background-position: 0 -421px;
}
.rolling .left_top .foo i {
  background-position: 0 -166px;
}
.rolling .left_top .dai i {
  background-position: 0 -129px;
}
.rolling .left_top .clo i {
  background-position: 0 -212px;
}
.rolling .left_top .ar i {
  background-position: 0 -253px;
}
.rolling .left_top .dig i {
  background-position: 0 -338px;
}
.rolling .left_top li:last-child {
  border-bottom: none;
}
.rolling .left_top .left_hover a {
  color: #C4193F;
}
.rolling .left_top .left_hover a i {
  background-position-x: -80px;
}

footer .ensure {
  background: #fff;
  border-bottom: 1px solid #D7D7D7;
}
footer .ensure img {
  height: 138px;
  font-size: 0;
}

/*# sourceMappingURL=common.css.map */
